<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block favicon %}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
            <link rel="manifest" href="{{ asset('site.webmanifest') }}">
            <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#a1d585">
        {% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('android-chrome-192x192.png') }}" width="30" height="30" class="d-inline-block align-top" alt="logo">
                    Evernet СRM
                </a>
            </nav>
        {%  endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
